<ul>
  <li>Calories: <strong>{{calories}}</strong></li>
  <li>Protein: <strong>{{protein}} g</strong></li>
  <li>Fat: <strong>{{fat}} g</strong></li>
  <li>Carbs: <strong>{{carbs}} g</strong></li>
  <li>Fiber: <strong>{{fiber}} g</strong></li>
</ul>