<ul>
  <li>Calories: <strong>{{calories}}</strong></li>
  <li>Protein: <strong>{{protein}}</strong></li>
  <li>Fat: <strong>{{fat}}</strong></li>
  <li>Carbs: <strong>{{carbs}}</strong></li>
  <li>Fiber: <strong>{{fiber}}</strong></li>
</ul>